<div class="row">
  <div class="card">
    <div class="card-header">
      <span class="card-title">Pesquisar</span>
    </div>
    <div class="card-body">
      <div class="col-md-12 mb-3">
        <label class="form-label">Nome</label>
        <input type="text" class="form-control" [(ngModel)]="nomeUsuario" placeholder="Digite o nome do usuário" />
      </div>

      <button class="btn btn-success me-3" (click)="pesquisar()">
        Pesquisar
      </button>
      <a class="btn btn-primary" routerLink="/usuario/cadastrar">
        Novo
      </a>
    </div>
  </div>
</div>

@if (usuarios && usuarios!.length > 0) {
<div class="container mt-4">
  <table class="table table-bordered table-hover">
    <thead class="table-light">
      <tr>
        <th>ID</th>
        <th>Nome</th>
        <th>CPF</th>
        <th>Data Nascimento</th>
      </tr>
    </thead>
    <tbody>
      @for (u of usuarios; track $index) {
      <tr>
        <td>{{ u.id }}</td>
        <td>{{ u.nome }}</td>
        <td>{{ u.cpf }}</td>
        <td>{{ u.dataNascimento | date:'dd/MM/yyyy' }}</td>
      </tr>
      }

    </tbody>
  </table>
</div>
@if (usuarios && usuarios.length === 0) {
<div class="container mt-4">
  <div class="alert alert-info">
    Nenhum usuário encontrado.
  </div>
</div>
}
}